{% extends './layout.html'%}
{% block title %}用户列表{% endblock %}
{% block header %}用户列表{% endblock %}
{% block content %}
  <div class="table-responsive content">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>用户名</th>
          <th>是否是管理员</th>
        </tr>
      </thead>
      <tbody>
      	{% for user in users %}
        <tr>

          <td>{{user._id.toString()}}</td>
          <td>{{user.username}}</td>
          {% if user.isAdmin %}
          	<td>是</td>
          {% else %}
          	<td>否</td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>


  <!-- 分页格式 -->
{% include './pagination.html/' %}
{% endblock %}