
/*顶端的修改*/
/*字体的公共样式*/
.link{
	text-decoration: none !important;
}
.link:hover{
	color:#f65a8a !important; 
}
/*头部区域开始*/
	#nav-blog .navbar-nav li{
		margin-right: 15px;
	}
	#nav-blog .navbar-nav li:hover a{
		color:#f65a8a;
	}
	#nav-blog .navbar-nav .active a{
		color:#f65a8a;
		background-color: transparent;
	}
	#nav-blog .navbar-nav li a{
		font-size: 16px;
	}
/*头部区域结束*/
/*轮播图样式开始*/
	#col-md-8 #carousel-example-generic{
		height:375px;
	}
	#col-md-8 .carousel-inner {
		width:100%;
		height:100%;
	}
	#col-md-8 .carousel-inner img{
		width:100%;
	}
/*轮播图样式结束*/
/*移动设备样式开始*/
	#panel-content{
		margin-top: 15px;
	}
	#panel-content .panel-heading{
		background-color: transparent;
		border-bottom: none;
	}
	#panel-content .panel-heading a{
		font-size: 16px;
	}
	#panel-content .panel-body{
		font-size: 14px;
	}
	#panel-content .panel-footer{
		background-color: transparent;
		border-top: none;
	}
	#panel-content .panel-footer .annotation{
		margin-right: 15px;
	}
/*移动设备样式结束*/
/*分页处理开始*/
	#paging li:hover a{
		background-color: transparent;
		color:#f65a8a;
	}
/*分页处理结束*/
/*广告部分处理开始*/
	#col-md-4 .ad{
		width:100%;
	}
	#col-md-4 .ad img{
		width: 100%;
		height: 100%;
	}
	#col-md-4 .ad a{
		display: block;
		width:100%;
		height:180px;
		transition: all,0.5s;
	}
	#col-md-4 .ad a:hover{
		box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
	}
	#col-md-4 .ad a:nth-child(2){
		margin-top: 15px;
	}
/*广告部分处理结束*/
/*博主介绍开始*/
 #col-md-4 .panel-body{
 	background-color: rgb(247,247,247);
 	border-top: 1px solid #ccc;

 }
 #col-md-4 .panel-body .media-left img{
 	width:100px;
 	height:100px;
 }
  #col-md-4 .panel-heading a{
  	text-decoration: none;
  }
/*博主介绍结束*/
/*下拉面版开始*/
  #col-md-4 #panel-board .panel-heading{
	background-color: transparent;
	border-bottom: none;
  }
  #col-md-4 #panel-board .panel-heading span{
  	font-size: 16px;
  }
  #col-md-4 #panel-board .list-group-item{
  	/* 规定段落中的文本不进行换行： */
    white-space: nowrap;
    /* 内容会被修剪，并且其余内容是不可见的。 */
    overflow: hidden;
    /* 显示省略符号来代表被修剪的文本。 */
    text-overflow: ellipsis; 
    background-color: rgb(247,247,247);
    border-bottom: none;
    border-top: none;
  }
  #col-md-4 #panel-board .list-group-item:hover{
  	color:#f65a8a;
  }
/*下拉面版结束*/
/*关注我开始*/
  #col-md-4 #panel-footer .panel-heading{
  	font-size: 16px;
  	background-color: transparent;
  	border-bottom: none;
  }
  #col-md-4 #panel-footer .panel-body{
  	border-top: none;
  }
  #col-md-4 #panel-footer .panel-body img{
  	
  	width: 100%;
  	height:100%;
  }
/*关注我结束*/

footer{
	text-align: center;
}