/*
	开发网页的适配流程
	1.制定好设置稿，以iPhone6为例，
	2设计稿中给定的单位是像素，width = 150px，font-size = 24px
	3.根据计算出的字体把根元素换成rem
	1rem = 37.5px
	4rem = 150px;
	0.64rem = 24px;

	1rem = 32px;
	4.6875rem = 150px;
	0.75rem = 24px
*/
* {
  margin: 0;
  padding: 0;
}
img {
  float: left;
  width: 4rem;
  margin: 0.26666667rem;
  margin: 0.26666667rem 0.53333333rem;
  margin: 0.26666667rem 0.53333333rem 0.8rem;
  margin: 0.26666667rem 0.53333333rem 0.8rem 1.06666667rem;
}
p {
  font-size: 0.64rem;
}
