<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>010-列表渲染.html</title>
</head>
<body>
	<div id="app">
		<table>
			<tr>
				<th>姓名</th>
				<th>年龄</th>
				<th>成绩</th>
			</tr>
			<tr v-for="person in persons">
				<td>{{person.name}}</td>
				<td>{{person.age}}</td>
				<td>{{person.score}}</td>
				<td v-if="person.score>=60">合格</td>
				<td v-else>不合格</td>
			</tr>
		</table>
	</div>
</body>
<script src="js/vue.js"></script>
<script>
	var vm = new Vue({
		el:'#app',
		data:{
			persons:[
				{name:'bob',age:18,score:79},
				{name:'tom',age:19,score:56},
			]
		}	
	})
</script>
</html>